@(message: String)(implicit request: RequestHeader)

@stylesheets = {
    <link href="@routes.Assets.at("stylesheets/map.css")" rel="stylesheet">
}
@import helper.twitterBootstrap._

@main("Map", stylesheets) {

    <div id="mapContainer">
        <div id="leftPanel" class="closed">
            <div class="btn-group modeSwitcher">
                <button name="current" class="btn">Online</button>
                <button name="history" class="btn">History</button>
            </div>
            <hr/>
            <div id="current" class="modeControls hide">
               <button id="followCurrentPoint" class="btn">Follow object on the map</button>
            </div>
            <div id="history" class="modeControls hide">
                @helper.form(action = routes.History.postInterval){
                    @helper.inputRadioGroup(History.timeIntervalForm("intervalType"),
                        List("lastHour" -> "Last hour", "lastDay" -> "Last day", "custom" -> "Custom"), '_label -> "Interval")
                    @helper.inputText(History.timeIntervalForm("beginning"), '_label -> "Beginning", '_class -> "customTime hide")
                    @helper.inputText(History.timeIntervalForm("end"), '_label -> "End", '_class -> "customTime hide")
                    <button id="showHistory" class="btn" onclick="return false;">Show</button>
                }
            </div>
        </div>
        <span id="showHideToggle">
            <i class="icon-chevron-left"></i><br/><i class="icon-chevron-right"></i>
        </span>
        <div id="myMap" style="height: 800px;"></div>
    </div>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map.js")"></script>
    <script type="text/javascript">
        init("@routes.Map.ws().webSocketURL()")
    </script>
}
