@(message: String)(implicit request: RequestHeader)

@main("Map") {

    <div id="mapContainer">
        <div id="myMap" style="height: 800px;"></div>
        <div id="mapSidebar"></div>
    </div>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map.js")"></script>
    <script type="text/javascript">
        init("@routes.MapPage.ws().webSocketURL()")
    </script>
}
