@(message: String)(implicit request: RequestHeader)

@stylesheets = {
    <link href="@routes.Assets.at("stylesheets/map.css")" rel="stylesheet">
}

@main("Map", stylesheets) {

    <div id="mapContainer">
        <div id="leftPanel" class="closed">
            <div class="btn-group modeSwitcher">
                <button name="current" class="btn active">Current</button>
                <button name="history" class="btn">History</button>
            </div>
            <hr/>
            <div id="current" class="modeControls">
                Track current position
            </div>
            <div id="history" class="modeControls hide">
                Display history
            </div>
        </div>
        <span id="showHideToggle">
            <i class="icon-chevron-left"></i><br/><i class="icon-chevron-right"></i>
        </span>
        <div id="myMap" style="height: 800px;"></div>
    </div>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map.js")"></script>
    <script type="text/javascript">
        init("@routes.Map.ws().webSocketURL()")
    </script>
}
