@(permitTrackingMeTo: List[String], mayTrack: List[String], notifications: List[model.NotificationArea])(implicit req: Request[_])

@printList[T](list: List[T])(itemRender: T => Html) = {
    <ul>
        @for(item <- list){
            <li>@itemRender(item)</li>
        }
    </ul>
}
@userList(list: List[String]) = {
    <ul>
        @for(user <- list){
           <li>@user</li>
        }
    </ul>
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/settings.js")" type="text/javascript"></script>
}

@main("Settings", scripts) {
    @layout.fixed {
        <h2>I permit tracking me</h2>
        @helper.form(action=Call("GET", "/settings/permission/add"), 'name -> "grantPermission", 'class -> "form-inline") {
            <input type="text" name="subject" placeholder="email" value="">
            <button class="btn" type="submit">Add</button>
        }
        @userList(permitTrackingMeTo)
        <h2>I may track</h2>
        @userList(mayTrack)
        <h2>Notifications</h2>
        @helper.form(action=Call("POST", "/settings/notification/add"), 'name -> "addNotification", 'class -> "form-horizontal") {
            <label for="name"></label>
            <input type="text" name="name" placeholder="name"/>
            <label for="trackingObject"></label>
            <input type="text" name="trackingObject" placeholder="Tracing object"/>
            <label for="leftTopLongitude"></label>
            <input type="text" name="leftTopLongitude" placeholder="Left top point longitude"/>
            <label for="leftTopLatitude"></label>
            <input type="text" name="leftTopLatitude" placeholder="Left top point latitude"/>
            <label for="rightBottomLongitude"></label>
            <input type="text" name="rightBottomLongitude" placeholder="Right bottom longitude"/>
            <label for="rightBottomLatitude"></label>
            <input type="text" name="rightBottomLatitude" placeholder="Right bottom point latitude"/>
            <label></label>
            <button class="btn" type="submit">Add</button>
        }
        @printList(notifications){ n =>
            @n.name @n.trackedObject (@n.area.toString)
        }
    }
}
